<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SportShopDbConnection" connectionString="Data Source=DESKTOP-1LCG8OH\SQLEXPRESS;
                                        Integrated Security=True;
                                        Initial Catalog=SportShop;
                                        Connect Timeout=3;
                                        Encrypt=False;"/>
		
	</connectionStrings>
</configuration>